body {
  background: url(/images/stars-bg.jpg) no-repeat;
  font-family: "Helvetica", "Arial", "Serif";
  background-size: cover;

}

#content {
  background-color: rgba(255, 255, 255, 0.71);
  width: 500px;
  margin: 50px auto;
  padding: 20px;

}


.codepen {
  width: 150px;
}

.github {
  width: 150px;
}
