body {
  background: url(/images/stars-bg.jpg) no-repeat;
  font-family: "Helvetica", "Arial", "Serif";
  background-size: cover;

}

#content {
  background-color: rgba(255, 255, 255, 0.71);
  width: 500px;
  margin: 50px auto;
  padding: 20px;

}

.codepen {
  height: 50px;
  position: relative;
  top: 13px;
}

.social-links a {
  float: left;
}

.github {
  width: 40px;
}
.twitter {
  width: 40px;
}


@media only screen and (max-device-width: 480px) {
  #content {
    width: auto;
  }

}
