.codepen {
  height: 50px;
  position: relative;
  top: 13px;
}

.center {
  margin: 0 auto;
}

.social-links {
  padding: 20px 0;
}

.social-links a {
  float: left;
  margin-right: 20px;
}

.footer {
  clear: both;
}